.section {
  width: -webkit-fill-available;
  width: stretch;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  border-radius: 8px;
    box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.2);
}

.section_head {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 8px;
}
.section_body {
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 8px;
}

.section_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  height: 38px;
  font-size: 22px;
  font-family: "Sofia Sans";
}
.section_title :first-child {
  width: 34px;
  text-align: center;
}

.section_action {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
}
.section_action :last-child {
  width: 34px;
}

.section_head button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  padding: 0px;
  width: 100%;
}
@media (hover: hover) {
  .section_head button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
  }
}
.section_head button:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}
