.Seccion {
  width: -webkit-fill-available;
  width: stretch;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  border-radius: 8px;
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.1);
}

.Seccion-header-static {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 8px;
  font-size: 1.5rem;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Seccion-header-dinamic {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 8px;
  font-size: 1.5rem;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}
@media (hover: hover) {
  .Seccion-header-dinamic:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0);
  }
}
.Seccion-header-dinamic:active {
  background-color: rgba(0, 0, 0, 0.05);
}



.Seccion-title {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
}
.Seccion-action {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
}

.Seccion-content-flex {
  width: stretch;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
}
.Seccion-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 8px;
  grid-auto-flow: row;
}

.left {
  order: 1;
  flex-grow: 1;
  flex-basis: 0;
}
.right {
  order: 2;
  flex-grow: 1;
  flex-basis: 0;
}

.Seccion-footer {
  font-size: 1.5em;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 8px;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
