.form-header-span {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

table{
    font-size: 18px;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;

}
TD, TH {
    text-align: center;
    padding: 4px;
}

.detallecard-container-cards {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
.infoCard {
    width: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
    gap: 8px;
}
.colText{
display: flex;
flex-direction: column;
}
.colText > .key {
    font-size: 18px;
}
.colText > .value {
    font-size: 24px;
}
.infoCard-icon{
    font-size: 48px;
}