.orden-title {
  display: flex;
}

.reportes-header {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

table {
  font-size: 18px;
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
td,
th {
  text-align: center;
  padding: 4px;
}

.detallecard-container-cards {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.fecha-span {
  display: flex;
  gap: 8px;
  align-items: center;
}
