.form-orden {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form-header {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 8px;
  font-size: 1.5rem;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-body {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form-footer {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0px;
  font-size: 1.5rem;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.form-footer-left {
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.form-footer-right {
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.abd-left {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 8px;
  order: 1;
  flex-grow: 1;
  flex-basis: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.1);
}
.abd-left > .section {
  border-radius: 6px;
}
.abd-right {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 8px;
  order: 2;
  flex-grow: 1;
  flex-basis: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.1);
}

.orden-title {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  height: 38px;
  font-size: 1.5rem;
  font-family: "Sofia Sans";
}
.title-text {
  white-space: nowrap;
}

table.detalle {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.1);
  border-collapse: unset;
}
table.detalle > tbody {
  background-color: rgba(0, 0, 0, 0);
}
table.detalle > tbody > tr {
  background-color: rgba(0, 0, 0, 0);
}
table.detalle > tbody > tr > td {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 0px;
}

th.left {
  text-align: left;
}
td.center {
  text-align: center;
}

button.cantidad {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  padding: 0px;
  width: 24px;
  height: 24px;
}
button.cantidad:first-of-type {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
button.cantidad:last-of-type {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
span.masmenos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.form-header-span {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.form-header-span > span {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.form-header-span > span > select {
  font-family: "Sofia Sans", "Trebuchet MS", system-ui;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
}
.form-header-span > span > select:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0);
}

select {
  field-sizing: content;
}

.tarjetaProducto {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-sizing: border-box;
  gap: 4px;
}
.tarjetaProducto:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.rowProducto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
}

.rowProducto + .text-card {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  padding: 0px 4px;
}

.detalle-nombre-precio {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
}
.detalle-precio {
  color: rgba(0, 0, 0, 0.6);
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

label.quantity {
  padding: 0px 6px;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
