@import url("fonts.css");
@import url("icons.css");

body {
  font-family: "Sofia Sans", "Trebuchet MS", system-ui;
  margin: 0px;
  background-color: whitesmoke;
  -webkit-user-select: none;
  user-select: none;
}

button {
  color: #000;
  -webkit-tap-highlight-color: transparent;
}
a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.app-frame {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}

.app-header {
  height: 44px;
  padding: 8px;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 6px;
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}
.app-header > section {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px;
}

.app-body {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.app-body-double {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.seccion-header {
  width: -webkit-fill-available;
  height: 44px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titulo {
  align-self: center;
  font-size: 1.5rem;
  width: -webkit-fill-available;
  text-align: center;
}

.panelButton {
  border-radius: 8px;
  cursor: default;
  border-style: solid;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  padding: 0px;
  width: 44px;
  height: 44px;
  z-index: 2;
  position: static;
}
@media (hover: hover) {
  .panelButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: default;
  }
}

.panelButton:active {
  background-color: #333;
  border-color: #e5e5e5;
  color: #e5e5e5;
  border-radius: 8px;
}

.panelButton > span {
  display: block;
  font-size: 1.5rem !important;
}

.panelButton.active {
  color: #c8c8c8;
  background-color: #222;
  border-color: #333;
  border-style: solid;
  z-index: 3;
}

.navbar a {
  text-decoration: none;
  color: black;
}

@media (hover: hover) {
  .panelButton.active:hover {
    color: #c8c8c8;
    background-color: #333;
    border-color: #333;
  }
}

.panelButton.active:active {
  color: #000;
  background-color: #cecece;
  border-color: #222;
}

.route {
  border-radius: 2px;
  height: -webkit-fill-available;
  align-content: center;
  padding-left: 8px;
  padding-top: unset;
  padding-bottom: unset;
  padding-right: 8px;
  cursor: default;
}

.route:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: default;
}

.route:active {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
}

.route > span {
  display: block;
  font-size: 1rem;
}

.navbar {
  width: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.navbar > span {
  padding: 4px;
  margin: 4px;
}

.nb-hr {
  background-color: #c8c8c8;
  margin: 0px;
  top: 52px;
}

.sp-hr {
  background-color: #333;
  margin: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  height: 2px;
}

.breadcumb {
  display: flex;
  padding: 4px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.slash {
  color: #808080;
  font-weight: normal;
  font-size: 1rem;
}

.panel-header {
  background-color: #222;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  height: 60px;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.2);
}

.panel-header > .left {
  height: 60px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
}

.panel-header > .right {
  height: 60px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
}

.panel-body {
  font-size: 1.25rem;
  background-color: #222;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.left-panel {
  height: 100%;
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
  transition: 0.5s;
  overflow-x: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
}

.right-panel {
  height: 100%;
  width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #222;
  transition: 0.5s;
  overflow-x: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 2;
  font-size: 1.25rem;
}

div .group {
  border-radius: 8px;
  background-color: #333;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.2);
}

div .left > .home {
  height: 28px;
  padding: 8px;
  color: #888;
  text-decoration: none;
}
@media (hover: hover) {
  div .left > .home:hover {
    color: #aaa;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow:
      inset 0 -1em 1em rgba(0, 0, 0, 0),
      0 0 0 0px white,
      0px 2px 2px rgba(0, 0, 0, 0.2);
  }
}
div .left > .active {
  color: #fff;
  border-radius: 8px;
}

div .rows {
  display: flex;
  gap: 8px;
}

div .rows > button {
  margin: 0px;
}

div .labsel {
  display: flex;
  align-items: center;
  margin: 8px;
}

div .labsel > label {
  font-size: 1rem;
  white-space: nowrap;
  margin-left: 4px;
  margin-right: 12px;
}

div .body {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

select.panel {
  font-family: "Sofia Sans";
  font-size: 1rem;
  justify-content: center;
  font-weight: bold;
  border-radius: 3px;
  border-width: 2px;
  color: #c8c8c8;
  background-color: #555;
  border-color: #777;
  border-style: solid;
  width: -webkit-fill-available;
  height: 32px;
}
@media (hover: hover) {
  select.panel:hover {
    border-radius: 3px;
    background-color: #777;
    border-color: #777;
  }
}

.panel-body > .group button {
  font-family: "Sofia Sans";
  font-size: 1rem;
  justify-content: center;
  font-weight: bold;
  width: -webkit-fill-available;
  height: 32px;
  border-radius: 6px;
  color: #c8c8c8;
  background-color: #555;
  border-color: #777;
  border-style: solid;
  border-width: 2px;
}

@media (hover: hover) {
  .panel-body > .group button:hover {
    border-radius: 6px;
    background-color: #777;
    border-color: #777;
  }
}

.panel-body > .group button:active {
  color: #222;
  background-color: #777;
  border-radius: 6px;
  border-color: #333;
}

.left-panel > div > div > div > span.title {
  color: #c8c8c8;
  padding: 0px;
  font-weight: normal;
  text-align: start;
}

.right-panel > div > div > div > span.title {
  color: #c8c8c8;
  padding: 0px;
  font-weight: normal;
  text-align: end;
}

.left-panel > div > div > span {
  color: #777;
  background-color: #222;
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 8px;
  text-decoration: none;
  font-weight: normal;
}

.left-panel > div > div > a {
  color: #888;
  background-color: transparent;
  padding: 8px;
  text-decoration: none;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}
@media (hover: hover) {
  .left-panel > div > div > a:hover {
    color: #aaa;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow:
      inset 0 -1em 1em rgba(0, 0, 0, 0),
      0 0 0 0px white,
      0px 2px 2px rgba(0, 0, 0, 0.2);
  }
}
.left-panel > div > div > a.active {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.2);
}

.left-panel > div > div > a > div > a {
  color: #c8c8c8;
  background-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  font-weight: normal;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 6px;
}
@media (hover: hover) {
  .left-panel > div > div > a > div > a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow:
      inset 0 -1em 1em rgba(0, 0, 0, 0),
      0 0 0 0px white,
      0px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.left-panel > div > div > a > div > a.active {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.2);
}

.left-panel > div > div > a > div {
  color: #c8c8c8;
  background-color: transparent;
  text-decoration: none;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.left-panel > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.right-panel > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button.accion {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 4px;
  height: 44px;
  font-family: "Sofia Sans", "Trebuchet MS", system-ui;
  font-size: 1.25rem;
  border-style: none;
  border-radius: 8px;
  box-shadow:
    inset 0 -1em 1em rgba(0, 0, 0, 0),
    0 0 0 0px white,
    0px 2px 2px rgba(0, 0, 0, 0.2);
}
@media (hover: hover) {
  button.accion:hover {
    box-shadow:
      inset 0 -1em 1em rgba(0, 0, 0, 0),
      0 0 0 0px white,
      0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}
button.accion:active {
  border-radius: 8px;
  box-shadow:
    inset 0px 2px 4px rgba(0, 0, 0, 0.4),
    0 0 0 0px white,
    0px 0px 0px rgba(0, 0, 0, 0);
}

button.yellow {
  background-color: #d7dd69;
  color: #000;
}
button.red {
  background-color: #dd6f69;
  color: #fff;
}
button.green {
  background-color: #9edd69;
  color: #000;
}
button.blue {
  background-color: #699edd;
  color: #fff;
}
